<?xml version="1.0" encoding="utf-8"?>

<!--icon copyright-->
<!--<div>Icons made by <a href="https://www.flaticon.com/authors/adib-sulthon" title="Adib Sulthon">Adib Sulthon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
-->
<manifest package="me.theofrancisco.android.bookstore"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.theofrancisco.android.bookstore.CatalogActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="me.theofrancisco.android.bookstore.EditorActivity"
            android:label="@string/editor_activity_title_new_item"
            android:theme="@style/EditorTheme"
            android:parentActivityName="me.theofrancisco.android.bookstore.CatalogActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.theofrancisco.android.bookstore.CatalogActivity" />
        </activity>
    </application>

</manifest>